@import '../../../../assets/scss/layout/hero';
.hero-section {
  .hero-image {
    align-self: start !important;
    padding-top: 32px !important;
  }
  .hero-subtitle-container {
    h3 {
      padding-right: 8px !important;
      cursor: pointer;
    }
    .chevron-right {
      margin-top: 32px;
      cursor: pointer;
    }
    .enterprise-service {
      height: 44px;
    }
    span {
      cursor: pointer;
    }
    .hero-mobile-image {
      display: none;
    }
    p {
      font-size: 16px !important;
      font-family: 'OpenSansRegular', sans-serif !important;
      font-weight: 500 !important;
      font-style: normal !important;
      padding: 0px !important;
    }
  }
}
@include respond-below(sm) {
  .hero-mobile-image {
    display: block !important;
  }
  .chevron-right {
    margin-top: 24px !important;
  }
}
