@import '../../../../assets/scss/layout/hero';

.hero-subtitle-container {
  h3 {
    padding-right: var(--font-size7);
    cursor: pointer;
  }
  .enterprise-service {
    height: 44px;
  }
  span {
    cursor: pointer;
  }
  .hero-mobile-image {
    display: none;
  }
}

@include respond-below(sm) {
  .hero-mobile-image {
    display: block !important;
  }
}
