@import '../../../assets/scss/abstracts/mixins';
.secure-page-grid {
  display: grid;
  padding-right: 24px;
  grid-column: 1/-1;
  padding: 0px 104px;
}

.landing-border {
  border-bottom: 1px solid var(--font-color);
  grid-column: 1/-1;
  // margin-top: 72px;
}

@include respond-between(sm, md) {
  .hero-image {
    img {
      width: 100%;
    }
  }
}

@include respond-above(lg) {
  .secure-page-grid {
    padding: 0px 200px !important;
  }
}

@include respond-below(sm) {
  .secure-page-grid {
    grid-column: 1/-1;
    padding: 0px 8px;
    section {
      padding-top: 0px;
    }
    .smb-intro {
      padding-top: 32px;
    }
    .data-security-intro,
    .landing-intro,
    .branding-intro {
      grid-template-columns: 1fr;
    }
    .hero-image {
      img {
        width: 100%;
      }
    }
    .button-container {
      display: flex;
      justify-content: center;
    }
  }
}
