@import '../../../../assets/scss/abstracts/mixins';

.smb-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  grid-gap: 32px;
  align-items: center;
  grid-row: 2/-1;
  .smb-container {
    display: grid;
    .coral-blob {
      width: 144px;
      height: 136px;
      margin-top: -16px;
    }

    .smb-mobile-title {
      display: none;
    }

    .smb-intro-image {
      display: grid;
      grid-template-columns: 16px 1fr;
      height: auto;
    }

    .smb-intro-text {
      color: var(--font-color);
      font-size: var(--font-size3);
      font-family: 'OpenSansRegular', sans-serif;
      font-weight: normal !important;
      font-style: normal;
      margin-left: 16px;
      padding-top: 32px;
    }
  }

  .smb-services {
    .service-title {
      font-family: 'MontFont', sans-serif !important;
    }
    span {
      color: var(--font-color);
    }
  }
}
@include respond-between(md, lg) {
  .smb-intro-image {
    img {
      width: 550px;
    }
  }
  .smb-services {
    img {
      width: 120px !important;
      height: 120px !important;
    }
    span {
      font-size: 32px !important;
    }
  }
}

@include respond-between(sm, md) {
  .smb-page-grid {
    height: auto !important;
    .smb-container {
      grid-template-columns: 1fr;
      height: auto;
    }
    .smb-services {
      grid-gap: 48px;
      grid-template-rows: 160px;
      padding: 48px 0px 48px 32px !important;
      img {
        width: 160px;
      }
      span {
        font-size: 40px;
      }
    }
  }
}

@include respond-above(lg) {
  // .smb-container {
  //   grid-template-rows: 360px;
  // }
  .smb-services {
    .hover-text {
      margin-top: 132px !important;
      margin-left: 16px;
      li {
        font-size: 24px;
      }
    }
    img {
      width: 205px;
      height: 180px;
    }
  }
}

@include respond-above(sm) {
  // .ds-title {
  //   display: none !important;
  // }
  .ds-features,
  .branding-features,
  .wd-features,
  .seo-features,
  .audit-features {
    display: none !important;
  }
  .service-title {
    padding-left: 8%;
  }

  .hover-text {
    display: block !important;
    position: absolute;
    margin-top: 80px !important;
  }
  .smb-services {
    display: grid;
    padding-left: 56px !important;

    .service-two {
      justify-self: end;
      padding-right: 24px;
    }
    .ds-service,
    .wd-service {
      display: grid;
      grid-template-columns: 15px 1fr 1fr;
      height: fit-content;
      .service-title {
        align-self: center;
      }
    }
    ul {
      margin: 0px !important;
      li {
        padding-top: 8px !important;
        color: var(--font-color) !important;
        font-size: 16px;
        font-family: 'MontFont', sans-serif;
        list-style: outside;
      }
    }

    grid-template-rows: 224px;

    .service-one,
    .service-two {
      width: min-content;
      img,
      span {
        cursor: pointer;
      }
    }

    grid-template-columns: 1fr;
    .service-one,
    .service-three {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    span {
      font-size: 48px;
      font-family: 'MontFont', sans-serif;
      font-weight: 900;
      font-style: normal;
    }
  }
}

@include respond-below(sm) {
  .smb-container {
    grid-template-columns: 1fr !important;

    .smb-intro-image {
      justify-items: end;
      grid-template-columns: 1fr 80px !important;
      height: 150px;
      .smb-title {
        display: none;
      }
      .coral-blob {
        width: 64px;
        height: 64px;
      }
      .smb-mobile-title {
        display: block !important;
      }
    }
    .smb-intro-text {
      text-align: right;
      padding-top: 32px;
    }
  }
  .smb-services {
    align-self: center;
    display: grid;
    grid-template-rows: 96px !important;
    padding: 32px;
    .wd-service,
    .ds-service {
      display: grid;
      grid-template-columns: 15px 1fr;
    }
    .service-two {
      justify-self: end;
    }
    .ds-features,
    .branding-features,
    .wd-features,
    .seo-features,
    .audit-features {
      display: none !important;
    }

    img {
      width: 80px;
      height: 56px;
    }
    span {
      font-size: 16px !important;
      align-self: flex-start !important;
      padding-top: 16px;
    }
  }
}
