@import '../../../assets/scss/styles.scss';

#alert-dialog-title {
  span {
    display: block;
  }
  .title-one {
    font-weight: 900;
  }
  .title-two {
    font-weight: 700;
    font-size: 16px;
  }
  .title-three {
    font-size: 14px;
  }
}

#video-dialog {
  .MuiDialog-paper {
    width: 100%;
    max-height: fit-content;
    .MuiTypography-h6 {
      text-align: end;
    }
    .MuiButtonBase-root {
      padding: 2px !important;
    }
    .MuiDialogTitle-root {
      padding: 0px !important;
    }
  }
}
