@import '../abstracts/variable';

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --font-color: #2c3e50;
  --font-family: 'Open Sans', sans-serif;
  --font-medium: 1rem;
  --font-weight400: 400;
}

h3,
h1,
label,
p,
span,
strong {
  color: var(--font-color);
  text-align: left;
  letter-spacing: 0em;
  font-family: var(--font-family);
}

h1 {
  font-family: 'Montserrat';
  font-size: 1.87em;
  font-style: normal;
  font-weight: 900;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
h3 {
  font-family: var(--font-family);
  font-size: var(--font-medium);
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10px;
}
h4 {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 900;
  color: var(--font-color);
  padding: 0px 0px !important;
}

label,
input ::placeholder,
select:option {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: var(--font-weight400);
  line-height: var(--font-medium);
  text-align: left;
}

strong {
  font-family: var(--font-family);
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
}

.btn-green {
  background-color: #49e59a !important;
}

.btn-grey {
  background-color: #f8f8f8 !important;
}

li {
  list-style: none;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: var(--font-weight400);
  color: #ff3f3f;
  padding: 10px;
  text-align: left;
}
