@import '../abstracts/variable';

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
:root {
  --font-color: #2c3e50;
  --font-size1: 0.875em; //14px
  --font-size2: 1.125em; // 18px
  --font-size3: 1.25em; // 20px
  --font-sizes4: 1em; // 16px
  --font-size5: 0.75em; // 12px
  --font-size6: 1.5em; //24 px
  --font-size7: 1.875em; //30px
  --font-weight400: 400;
  --font-weight500: 500;
  --font-weight600: 600;
  --font-weight700: 700;
  --font-weight800: 800;
  --font-weight900: 900;
}

@font-face {
  font-family: 'MontFont';
  src: url('../../fonts/Mont-HeavyDEMO.otf');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../../fonts/OpenSans-SemiBold.ttf');
}

h3,
h1,
label,
p,
span,
strong {
  color: var(--font-color);
  text-align: left;
  letter-spacing: 0em;
  font-family: 'OpenSansBold', sans-serif;
}

h1 {
  font-family: 'MontFont', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: var(--font-weight900);
  text-align: left;
}
h3 {
  font-family: 'OpenSansBold', sans-serif;
  font-size: var(--font-size3);
  font-style: normal;
  font-weight: 700;
  text-align: left;
  padding-top: 10px;
}
h4 {
  font-family: 'OpenSansBold', sans-serif;
  font-weight: 700;
  color: var(--font-color);
  padding: 0px 0px !important;
  font-style: normal;
}

.btn-green {
  background-color: #49e59a !important;
}

.btn-grey {
  background-color: #f8f8f8 !important;
}

li {
  list-style: none;
  font-family: 'OpenSansRegular', sans-serif;
  font-size: 1em;
  font-weight: var(--font-weight400);
  color: #ff3f3f;
  text-align: left;
  padding-top: 1.375em;
}

.MuiMenuItem-root {
  font-size: var(--font-size5) !important;
  font-weight: var(--font-weight400) !important;
  font-family: 'OpenSansRegular', sans-serif !important;
  color: var(--font-color) !important;
}
::placeholder,
label {
  padding-bottom: 10px;
  font-size: var(--font-size5);
  font-weight: var(--font-weight400);
  font-family: 'OpenSansRegular', sans-serif;
}

.rc-anchor-error-msg {
  margin: 5px 0px 0px 5px;
}

.MuiInputBase-input {
  height: 1em !important;
}

.error_message {
  color: #ff3f3f;
  font-family: 'OpenSansRegular', sans-serif;
}

.lead_success {
  color: #49e59a;
  font-family: 'OpenSansBold', sans-serif;
  font-size: var(--font-size3);
  text-align: center;
}
