@import '../abstracts/variable';

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --font-color: #2c3e50;
  --font-size1: 0.875em; //14px
  --font-size2: 1.12em; // 18px
  --font-size3: 1.25em; // 20px
  --font-sizes4: 1em; // 16px
  --font-size5: 0.75em; // 12px
  --font-size6: 1.5em; //24 px
  --font-weight400: 400;
  --font-weight500: 500;
  --font-weight600: 600;
  --font-weight700: 700;
  --font-weight800: 800;
  --font-weight900: 900;
}

@font-face {
  font-family: 'MontFont';
  src: url('../../fonts/Mont-HeavyDEMO.otf');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../../fonts/OpenSans-Regular.ttf');
}

h3,
h1,
label,
p,
span,
strong {
  color: var(--font-color);
  text-align: left;
  letter-spacing: 0em;
  font-family: 'OpenSansBold';
}

h1 {
  font-family: 'MontFont';
  font-size: 1.87em;
  font-style: normal;
  font-weight: var(--font-weight900);
  text-align: left;
}
h3 {
  font-family: 'OpenSansBold';
  font-size: var(--font-size3);
  font-style: normal;
  font-weight: 700;
  text-align: left;
  padding-top: 10px;
}
h4 {
  font-family: 'OpenSansBold';
  font-weight: 700;
  color: var(--font-color);
  padding: 0px 0px !important;
  font-style: normal;
}

strong {
  font-family: var(--font-family);
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
}

.btn-green {
  background-color: #49e59a !important;
}

.btn-grey {
  background-color: #f8f8f8 !important;
}

li {
  list-style: none;
  font-family: var(--font-family);
  font-size: 0.87em;
  font-weight: var(--font-weight400);
  color: #ff3f3f;
  padding: 0.62em;
  text-align: left;
}

::placeholder,
label {
  padding-bottom: 10px;
  font-size: var(--font-size5);
  font-weight: var(--font-weight400);
  font-family: 'OpenSansRegular';
}
