@import '../../assets/scss/styles.scss';
.monthly-price {
  align-self: center;
  display: grid;
  justify-self: center;
  span {
    font-family: var(--font-family);
    font-size: 1.87em;
    font-style: normal;
    font-weight: 800;
  }

  .price {
    font-family: 'MontFont', sans-serif;
    font-weight: var(--font-weight900);
    font-size: 4em;
  }
  .label {
    font-size: 0.875em;
    font-weight: var(--font-weight800);
    font-family: 'OpenSansBold', sans-serif;
  }

  h4,
  div {
    text-align: center;
  }

  @include respond-below(sm) {
    .monthly-price {
      display: grid;
      grid-template-columns: 1fr;
    }

    .btn-data-security {
      width: 95vw;
      margin-top: var(--font-size1);
      margin-left: 10px;
    }

    .label {
      font-size: 1.75em;
      font-weight: var(--font-weight900);
      font-family: 'OpenSansBold', sans-serif;
    }
  }
}
