@import '../../assets/scss/styles.scss';
.monthly-price {
  justify-self: center;
  align-self: center;
  span {
    font-family: var(--font-family);
    font-size: 1.87em;
    font-style: normal;
    font-weight: 800;
  }
  .btn-data-security {
    display: block;
    background-color: #42b9f8;
    height: 3.75rem;
    font-weight: 700;
    font-size: 1.2rem;
    width: 20rem;
    padding: 5px;
    cursor: pointer;
  }
  .lead_success {
    color: #49e59a;
  }
  .price {
    font-size: 5em;
    font-weight: var(--font-weight800);
    font-family: 'OpenSansBold';
  }
  p {
    color: #ff3f3f;
  }
  h4,
  div {
    text-align: center;
  }

  @include respond-below(sm) {
    .sticky-content {
      display: grid;
      grid-template-columns: 1fr 1fr;

      grid-row: 5/6;
      h4 {
        align-self: center;
        text-align: left;
        font-size: var(--font-size4);
        font-weight: var(--font-weight700);
      }
      div {
        align-self: center;
      }
      .price,
      .label {
        font-size: var(--font-size6);
        font-weight: var(--font-weight800);
        font-family: 'OpenSansBold';
      }
    }
    .btn-data-security {
      width: 95vw;
      margin-top: 20px;
    }
  }
}
