@import '../../assets/scss/abstracts/mixins';
@import '../../assets/scss/base/base';

.cart-page-grid {
  display: grid;
  grid-column: 2/-1;
  padding-right: 24px;
  .cart-title {
    justify-self: center;
  }
}

@include respond-below(sm) {
  .cart-page-grid {
    grid-column: 1/-1 !important;
    .cart-container {
      grid-template-columns: 1fr !important;
    }
  }
}
