@import '../../../../assets/scss/layout/hero';
@import '../../../../assets/scss/abstracts/mixins';

.hero-section {
  .hero-title {
    display: grid;
  }
  .hero-subtitle-container {
    h3 {
      padding-right: var(--font-size7);
    }
  }
  .features {
    align-items: center;
    .branding-feature-icon {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ff7d7d;
      align-self: center;
      margin-top: 8px;
    }
  }
}

@include respond-between(sm, md) {
  .hero-image {
    grid-template-columns: auto !important;
  }
}

@include respond-below(sm) {
  .hero-mobile-image {
    padding-top: 0px !important;
    img {
      max-width: 296px;
    }
  }
}
