@import '../../../assets/scss/abstracts/mixins';

.nav-container {
  width: 100%;
  border-bottom: 0px !important;
  background-color: #ffffff !important;
  .MuiAppBar-colorPrimary {
    background-color: #ffffff !important;
  }
  .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    .hamburger-menu {
      justify-self: start;
    }
  }
  .close-icon,
  img {
    cursor: pointer;
  }
  .menu-container {
    display: grid;
    grid-template-columns: 32px 38px 1fr 1fr 1fr;
    justify-items: center;
    justify-self: end;
    align-items: center;
    .product-count {
      color: var(--font-color);
      text-align: left;
      letter-spacing: 0em;
      font-family: 'OpenSansBold', sans-serif;
    }
    .cart-icon {
      display: flex;
      justify-self: end;
      cursor: pointer;
      span {
        align-self: center;
        font-size: 1rem;
      }
    }
    a img {
      padding-top: 4px;
    }
    .hamburger-menu {
      button {
        background-color: transparent !important;
      }
    }
  }
  .hide-profile-menu {
    grid-template-columns: 32px 38px 1fr 1fr !important;
  }
  .hide {
    display: none;
  }
}

@include respond-below(sm) {
  .nav-container {
    .menu-container {
      grid-template-columns: 32px 32px 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
      .cart-icon {
        justify-self: center;
        padding-left: 12px;
      }
      .hamburger-menu {
        width: 48px;
      }
    }
    .hide-profile-menu {
      grid-template-columns: 32px 32px 1fr 1fr !important;
    }
  }
}
