.nav-container {
  .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .hamburger-menu {
      justify-self: end;
    }
  }
  .close-icon,
  img {
    cursor: pointer;
  }
  .menu-container {
    display: grid;
    grid-template-columns: 1fr 80px;
    .cart-icon {
      justify-self: end;
      cursor: pointer;
      span {
        position: absolute;
        margin-top: 4px;
        font-size: 1rem;
      }
    }
  }
}
