@import '../../../assets/scss/styles.scss';

.branding-container {
  .keyword-input {
    width: 100%;
    outline: none;
    color: var(--font-color);
    height: 40px;
    font-family: 'OpenSansRegular', sans-serif;
    padding-left: 0.625em;
  }

  .picker-border {
    border: 2px solid #2c3e50;
  }

  .plus-icon {
    position: absolute;
    margin-left: 100px;
    margin-top: 10px;
    cursor: pointer;
  }

  input[type='text']:focus {
    border: 1px solid #42b9f8 !important;
    box-shadow: 0 0 4px #42b9f8 !important;
  }
  display: grid;
  margin: 75px 0px 0px 35px;
  .technical-info,
  .color-palette,
  .pick-logo {
    span {
      font-size: var(--font-size1);
      font-weight: var(--font-weight400);
      font-family: 'OpenSansRegular', sans-serif;
    }
  }

  .word-grid {
    display: grid;
    grid-template-columns: 126px 126px 126px 126px;
    margin-top: 8px;
    grid-gap: 8px 8px;
    div.box {
      height: 40px;
      text-align: center;
      padding-top: 10px;
      font-size: var(--font-size5);
      font-weight: var(--font-weight400);
      font-family: 'OpenSansRegular', sans-serif;
      color: #2c3e50;
      cursor: pointer;
    }
    .keyword-active {
      background: #ff7d7d;
    }

    .keyword-inactive {
      background-color: #e3e3e3;
    }
  }

  .color-palette {
    padding-top: 72px;
    .color-picker-grid {
      display: grid;
      grid-template-columns: repeat(5, 100px);
      grid-gap: 8px 8px;
      margin-top: 8px;
      input {
        position: absolute;
        left: -99999px;
      }
      div {
        width: 100px;
        cursor: pointer;
      }
      .color-picker-image label {
        cursor: pointer;
      }

      .c-picker-a-img::after {
        content: url('../../../assets/images/color_picker_one.svg');
      }

      .c-picker-b-img::after {
        content: url('../../../assets/images/color_picker_two.svg');
      }

      .c-picker-c-img::after {
        content: url('../../../assets/images/color_picker_three.svg');
      }
      .c-picker-d-img::after {
        content: url('../../../assets/images/color_picker_four.svg');
      }
      .c-picker-e-img::after {
        content: url('../../../assets/images/color_picker_five.svg');
      }
      .c-picker-f-img::after {
        content: url('../../../assets/images/color_picker_six.svg');
      }
      .c-picker-g-img::after {
        content: url('../../../assets/images/color_picker_seven.svg');
      }
      .c-picker-h-img::after {
        content: url('../../../assets/images/color_picker_eight.svg');
      }
      .c-picker-i-img::after {
        content: url('../../../assets/images/color_picker_nine.svg');
      }
      .c-picker-j-img::after {
        content: url('../../../assets/images/color_picker_ten.svg');
      }
      .c-picker-k-img::after {
        content: url('../../../assets/images/color_picker_eleven.svg');
      }
      .c-picker-l-img::after {
        content: url('../../../assets/images/color_picker_design.svg');
      }
    }
  }

  .pick-logo {
    padding-top: 24px;
    .logo-grid {
      display: grid;
      grid-template-columns: repeat(5, 100px);
      grid-gap: 8px 8px;
      margin-top: 8px;
      input {
        position: absolute;
        left: -99999px;
      }
      div {
        width: 100px;
        height: 100px;
      }

      .logo-picker label {
        cursor: pointer;
      }
      .logo-picker img::after {
        content: url('../../../assets//images/pick-logo.svg');
      }
    }
  }

  .price-container {
    display: grid;
    justify-content: center;
    margin-right: 8px;
    button {
      display: block;
      background: #ff7d7d;
      height: 3.75rem;
      font-weight: 700;
      font-size: 1.375em;
      width: 20rem;
      padding: 5px;
      cursor: pointer;
      border: none;
      font-family: 'OpenSansBold', sans-serif;
    }
    h4,
    span {
      justify-self: center;
    }
    span {
      font-family: 'MontFont', sans-serif;
      font-weight: var(--font-weight900);
      font-size: 6.25em;
    }
  }
}

@include respond-below(sm) {
  .branding-container {
    margin: 40px 0px 0px 0px !important;
    .plus-icon {
      margin-left: 42% !important;
    }
    .keyword-input {
      height: 40px !important;
      padding-left: 0px !important;
    }
    .technical-info,
    .color-palette,
    .pick-logo {
      padding-left: 8px;
    }
    .sticky-content {
      h4 {
        justify-self: start !important;
      }
    }
  }
}

@include respond-below(md) {
  .branding-container {
    .word-grid {
      display: grid;
      grid-template-columns: 135px 135px 135px;
      margin-top: 8px;
      grid-gap: 8px 8px;
    }

    .color-palette {
      padding-top: 10px;

      .color-picker-grid {
        display: grid;
        grid-template-columns: repeat(4, 100px);
      }
    }

    .pick-logo {
      padding-top: 10px;
      .logo-grid {
        display: grid;
        grid-template-columns: repeat(4, 100px);
      }
    }
  }
}

@include respond-below(xs) {
  .branding-container {
    .plus-icon {
      margin-left: 40% !important;
    }
    ::placeholder {
      padding-left: 8px;
    }
    .word-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 10px 0px 0px 0px;
      grid-gap: 10px 10px;
    }

    .color-palette {
      padding-top: 24px;
      .color-picker-grid {
        padding-top: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .pick-logo {
      padding-top: 24px;
      .logo-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@include respond-between(sm, md) {
  .branding-container {
    .plus-icon {
      margin-left: 130px !important;
    }
    .word-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 8px 8px 0px 0px;
      grid-gap: 8px 8px;
    }

    .color-palette {
      padding-top: 24px;
      .color-picker-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(3, 100px);
        margin: 0px 8px 0px 0px;
      }
    }

    .pick-logo {
      padding-top: 24px;
      .logo-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(3, 100px);
      }
    }
  }
}

@include respond-between(xs, sm) {
  .branding-container {
    .word-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 8px 8px 0px 0px;
      grid-gap: 8px 8px;
    }

    .color-palette {
      padding-top: 24px;
      .color-picker-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(5, auto);
        margin: 0px 8px 0px 0px;
      }
    }

    .pick-logo {
      padding-top: 24px;
      .logo-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(5, auto);
      }
    }
  }
}
