@import '../../../assets/scss/styles.scss';

.branding-container {
  display: grid;
  margin: 75px 0px 0px 35px;
  .technical-info,
  .color-palette,
  .pick-logo {
    span {
      font-size: var(--font-size1);
      font-weight: var(--font-weight400);
      font-family: 'OpenSansRegular', sans-serif;
    }
  }

  .word-grid {
    display: grid;
    grid-template-columns: 126px 126px 126px 126px;
    margin-top: 8px;
    grid-gap: 8px 8px;
    div {
      height: 40px;
      text-align: center;
      padding-top: 10px;
      font-size: var(--font-size5);
      font-weight: var(--font-weight400);
      font-family: 'OpenSansRegular', sans-serif;
      color: #2c3e50;
    }
    .box:nth-of-type(odd) {
      background: #ff7d7d;
    }

    .box:nth-of-type(even) {
      background-color: #e3e3e3;
    }
  }

  .color-palette {
    padding-top: 72px;
    .color-picker-grid {
      display: grid;
      grid-template-columns: repeat(5, 100px);
      grid-gap: 8px 8px;
      margin-top: 8px;
      div {
        width: 100px;
        height: 100px;
      }
      .color-picker-image:nth-of-type(1) {
        background-image: url('../../../assets/images/color_picker_one.svg');
      }
      .color-picker-image:nth-of-type(2) {
        background-image: url('../../../assets/images/color_picker_two.svg');
      }
      .color-picker-image:nth-of-type(3) {
        background-image: url('../../../assets/images/color_picker_three.svg');
      }
      .color-picker-image:nth-of-type(4) {
        background-image: url('../../../assets/images/color_picker_four.svg');
      }
      .color-picker-image:nth-of-type(5) {
        background-image: url('../../../assets/images/color_picker_five.svg');
      }
      .color-picker-image:nth-of-type(6) {
        background-image: url('../../../assets/images/color_picker_six.svg');
      }
      .color-picker-image:nth-of-type(7) {
        background-image: url('../../../assets/images/color_picker_seven.svg');
      }
      .color-picker-image:nth-of-type(8) {
        background-image: url('../../../assets/images/color_picker_eight.svg');
      }
      .color-picker-image:nth-of-type(9) {
        background-image: url('../../../assets/images/color_picker_nine.svg');
      }
      .color-picker-image:nth-of-type(10) {
        background-image: url('../../../assets/images/color_picker_ten.svg');
      }
      .color-picker-image:nth-of-type(11) {
        background-image: url('../../../assets/images/color_picker_eleven.svg');
      }
      .color-picker-image:nth-of-type(12) {
        background-image: url('../../../assets/images/color_picker_design.svg');
      }
    }
  }

  .pick-logo {
    padding-top: 24px;
    .logo-grid {
      display: grid;
      grid-template-columns: repeat(5, 100px);
      grid-gap: 8px 8px;
      margin-top: 8px;
      div {
        width: 100px;
        height: 100px;
      }
      div {
        width: 100px;
        height: 100px;
      }
      .logo-picker {
        background-image: url('../../../assets//images/pick-logo.svg');
        background-repeat: no-repeat;
      }
    }
  }

  .price-container {
    display: grid;
    justify-content: center;
    margin-right: 8px;
    button {
      display: block;
      background: #ff7d7d;
      height: 3.75rem;
      font-weight: 700;
      font-size: 1.375em;
      width: 20rem;
      padding: 5px;
      cursor: pointer;
      border: none;
      font-family: 'OpenSansBold', sans-serif;
    }
    h4,
    span {
      justify-self: center;
    }
    span {
      font-family: 'MontFont', sans-serif;
      font-weight: var(--font-weight900);
      font-size: 6.25em;
    }
  }
}

@include respond-below(sm) {
  .branding-container {
    margin: 40px 0px 0px 16px !important;
  }
}

@include respond-below(md) {
  .branding-container {
    .word-grid {
      display: grid;
      grid-template-columns: 135px 135px 135px;
      margin-top: 8px;
      grid-gap: 8px 8px;
    }

    .color-palette {
      padding-top: 10px;

      .color-picker-grid {
        display: grid;
        grid-template-columns: repeat(4, 100px);
      }
    }

    .pick-logo {
      padding-top: 10px;
      .logo-grid {
        display: grid;
        grid-template-columns: repeat(4, 100px);
      }
    }
  }
}

@include respond-below(xs) {
  .branding-container {
    .word-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 8px 8px 0px 0px;
      grid-gap: 8px 8px;
    }

    .color-palette {
      padding-top: 24px;
      .color-picker-grid {
        padding-top: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .pick-logo {
      padding-top: 24px;
      .logo-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@include respond-between(sm, md) {
  .branding-container {
    .word-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 8px 8px 0px 0px;
      grid-gap: 8px 8px;
    }

    .color-palette {
      padding-top: 24px;
      .color-picker-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(3, 100px);
        margin: 0px 8px 0px 0px;
      }
    }

    .pick-logo {
      padding-top: 24px;
      .logo-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(3, 100px);
      }
    }
  }
}

@include respond-between(xs, sm) {
  .branding-container {
    .word-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 8px 8px 0px 0px;
      grid-gap: 8px 8px;
    }

    .color-palette {
      padding-top: 24px;
      .color-picker-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(5, auto);
        margin: 0px 8px 0px 0px;
      }
    }

    .pick-logo {
      padding-top: 24px;
      .logo-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(5, auto);
      }
    }
  }
}
