@import '../../../assets/scss/styles.scss';
textarea {
  padding: 16px;
}
.branding-container {
  .radio-section {
    grid-template-columns: 1fr 1fr;
    padding: 32px 24px 16px 0px !important;
  }
  .radio-active {
    background-color: #49e59a;
  }
  .radio-inactive {
    background-color: #ff7d7d;
  }
  .wd-technical-info {
    padding-top: 48px !important;
  }
  .template-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
    .template {
      background-color: #fff;
      display: grid;
      h4 {
        justify-self: center;
      }
      button {
        background: #9c47ed;
        height: 40px;
        display: block;
        border: 0;
        width: 100px;
        justify-self: end;
        cursor: pointer;
        margin-top: 16px;
        img {
          padding-right: 8px;
          vertical-align: middle;
          justify-self: center;
        }
        span {
          color: #fff;
        }
      }
    }
  }
  .input-container {
    display: grid;
    grid-template-columns: 1fr 1px;
    .plus-icon {
      margin-left: -30px;
      position: relative;
      margin-top: 10px;
      cursor: pointer;
    }
  }
  .sticky-content {
    display: grid;
  }
  .website-option {
    display: grid;
    grid-template-columns: 150px 150px;
    padding: 16px;
    span {
      height: 60px;
      cursor: pointer;
      display: inline-block;
      h4 {
        text-align: center;
      }
    }
    span:nth-child(2) {
      background-color: #9c47ed;
      h4 {
        color: #fff;
      }
    }
  }
  .keyword-input {
    width: 100%;
    outline: none;
    color: var(--font-color);
    height: 40px;
    font-family: 'OpenSansRegular', sans-serif;
    padding-left: 0.625em;
    padding-right: 24%;
  }

  .picker-border {
    outline: 2px solid #2c3e50;
    outline-offset: -1px;
  }

  input[type='text']:focus {
    border: 1px solid #42b9f8 !important;
    box-shadow: 0 0 4px #42b9f8 !important;
  }
  display: grid;
  margin: 0px 16px 0px 35px;
  .technical-info,
  .color-palette,
  .pick-logo {
    span {
      font-size: var(--font-size1);
      font-weight: var(--font-weight400);
      font-family: 'OpenSansRegular', sans-serif;
    }
  }

  .word-grid {
    display: grid;
    grid-template-columns: 126px 126px 126px 126px;
    margin-top: 8px;
    grid-gap: 8px 8px;
    div.box {
      height: 40px;
      text-align: center;
      padding-top: 10px;
      font-size: var(--font-size5);
      font-weight: var(--font-weight400);
      font-family: 'OpenSansRegular', sans-serif;
      color: #2c3e50;
      cursor: pointer;
    }
    .keyword-active {
      background: #ff7d7d;
      text-overflow: ellipsis;
      overflow-x: hidden;
      padding-left: 8px;
      white-space: nowrap;
    }

    .keyword-inactive {
      background-color: #e3e3e3;
      text-overflow: ellipsis;
      overflow-x: hidden;
      padding-left: 8px;
      white-space: nowrap;
    }
  }

  .color-palette {
    padding-top: 24px;
    .color-picker-grid {
      display: grid;
      grid-template-columns: repeat(5, 100px);
      grid-gap: 8px 8px;
      margin-top: 8px;
      input {
        position: absolute;
        left: -99999px;
      }
      div {
        width: 100px;
        cursor: pointer;
      }
      .color-picker-image label {
        cursor: pointer;
      }
    }
  }

  .pick-logo {
    .logo-grid {
      display: grid;
      grid-template-columns: repeat(auto, 100px);
      grid-gap: 8px 8px;
      margin-top: 8px;
      input {
        position: absolute;
        left: -99999px;
      }
      div {
        width: 100px;
        height: 100px;
      }

      .logo-picker label {
        cursor: pointer;
      }
    }
  }

  .price-container {
    display: grid;
    justify-content: center;
    margin-right: 8px;
    button {
      display: block;
      background: #ff7d7d;
      height: 3.75rem;
      font-weight: 700;
      font-size: 1.375em;
      width: 20rem;
      padding: 5px;
      cursor: pointer;
      border: none;
      font-family: 'OpenSansBold', sans-serif;
    }
    h4,
    span {
      justify-self: center;
    }
    span {
      font-family: 'MontFont', sans-serif;
      font-weight: var(--font-weight900);
      font-size: 6.25em;
    }
  }
}

@include respond-below(sm) {
  .branding-container {
    margin: 40px 0px 0px 0px !important;
    input[type='text'],
    textarea {
      padding-left: 8px !important;
    }
    .template-grid {
      grid-template-columns: 1fr !important;
    }

    .keyword-input {
      height: 40px !important;
      padding-left: 0px !important;
      padding-right: 15%;
    }
    .technical-info,
    .color-palette,
    .pick-logo {
      padding-left: 8px;
    }
    .sticky-content {
      h4 {
        justify-self: start !important;
      }
    }
    .pick-logo {
      padding-bottom: 48px;
    }
  }
}

@include respond-below(md) {
  .branding-container {
    .word-grid {
      display: grid;
      grid-template-columns: 135px 135px 135px;
      margin-top: 8px;
      grid-gap: 8px 8px;
    }

    .color-palette {
      padding-top: 10px;

      .color-picker-grid {
        display: grid;
        grid-template-columns: repeat(4, 100px);
      }
    }

    .pick-logo {
      padding-top: 10px;
      .logo-grid {
        display: grid;
        grid-template-columns: repeat(4, 100px);
      }
    }
  }
}

@include respond-below(xs) {
  .branding-container {
    .technical-info {
      padding-left: 9px;
    }

    .word-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 10px 0px 0px 0px;
      grid-gap: 12px 10px;
    }

    .color-palette {
      padding-top: 24px;
      .color-picker-grid {
        padding-top: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .pick-logo {
      padding-top: 24px;
      padding-left: 9px;
      .logo-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@include respond-between(sm, md) {
  .branding-container {
    .word-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 8px 8px 0px 0px;
      grid-gap: 8px 8px;
    }

    .color-palette {
      padding-top: 24px;
      .color-picker-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(3, 100px);
        margin: 0px 8px 0px 0px;
      }
    }

    .pick-logo {
      padding-top: 24px;
      .word-grid {
        margin: 10px 8px 0px 0px !important;
      }
      .logo-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(3, 100px);
      }
    }
  }
}

@include respond-between(xs, sm) {
  .branding-container {
    .word-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 8px 8px 0px 0px;
      grid-gap: 8px 8px;
    }

    .color-palette {
      padding-top: 24px;
      .color-picker-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(5, auto);
        margin: 0px 8px 0px 0px;
      }
    }

    .pick-logo {
      padding-top: 24px;
      .logo-grid {
        display: grid;
        padding-top: 8px;
        grid-template-columns: repeat(5, auto);
      }
    }
  }
}
@include respond-above(lg) {
  .branding-container {
    margin-right: 15% !important;
    .word-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    .color-picker-grid {
      display: grid;
      grid-template-columns: repeat(6, auto) !important;
    }
  }
}
