@import '../../assets/scss/abstracts/mixins';

.signup-form-section {
  display: grid;
  grid-template-columns: 1px 1fr 1fr;
  background-color: #f8f8f8;
  .form-container {
    input[type='text']:focus,
    input[type='number']:focus,
    input[type='password']:focus,
    textarea:focus,
    select:focus {
      border: 1px solid #42b9f8 !important;
      box-shadow: 0 0 4px #42b9f8 !important;
    }

    select {
      height: 60px !important;
      outline: none;
      color: var(--font-color);
      border: none;
      font-family: 'OpenSansRegular', sans-serif;
      padding-left: 0.625em;
    }

    .profile-image-container {
      margin-top: 20px;
      grid-column: span 2;
      border: 1px dotted #fdcf00;
      justify-items: center;
      span.image-name {
        font-family: 'OpenSansRegular', sans-serif !important;
        font-size: 12px;
        color: #2c3e50;
      }
    }

    .MuiSelect-selectMenu {
      font-size: var(--font-size5);
      font-weight: var(--font-weight400);
      font-family: 'OpenSansRegular', sans-serif;
    }
    .red-bg {
      background-color: #ff7d7d !important;
    }
    .green-bg {
      background-color: #49e59a !important;
    }
    .white-bg {
      background-color: #ffffff !important;
    }
    .radio-section {
      grid-column: 1/-1 !important;
      font-size: var(--font-size5) !important;
      font-weight: var(--font-weight400) !important;
      font-family: 'OpenSansRegular', sans-serif !important;
      color: #2c3e50 !important;
      padding: 24px 0px;
      grid-template-columns: 1fr !important;
      align-items: center;
      .radio-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
        padding-top: 8px;
        span {
          height: 50px;
          text-align: center;
          background-color: #fff;
          font-weight: var(--font-weight400) !important;
          font-family: 'OpenSansRegular', sans-serif !important;
          color: #2c3e50 !important;
          padding-top: 15px;
          cursor: pointer;
        }
      }
    }
  }

  .desktop-hide {
    display: none !important;
  }

  .btn-disabled {
    cursor: not-allowed;
  }

  .signup-success {
    font-size: var(--font-size1) !important;
    font-weight: var(--font-weight600) !important;
    font-family: 'OpenSansRegular', sans-serif !important;
    color: #49e59a !important;
    a {
      color: #2c3e50;
    }
  }

  .signup-button-container {
    margin: 0px 16px 0px 35px;
    display: grid;
    align-self: center;
  }

  .button-container {
    display: grid;
    align-self: center;
    justify-content: center;
    padding: 32px 32px;
    .btn-basic {
      background-color: #fdcf00;
    }
  }
}

@include respond-below(sm) {
  .mobile-hide {
    display: none !important;
  }
  .signup-button-container {
    display: grid;
    padding: 0px 8px;
    margin: 40px 0px 0px 0px !important;
    .desktop-hide {
      display: flex !important;
    }

    .button-container {
      margin-top: 32px !important;
      padding: 0px;
      .btn-basic {
        justify-self: center;
      }
    }
  }
  .radio-section {
    padding: 1.25em 0.25em 0 0.625em !important;
    span:nth-child(1) {
      padding-left: 8px;
    }
  }
}

@include respond-above(lg) {
  .signup-button-container {
    margin-right: 15% !important;
  }
}
