@import '../../../../assets/scss/abstracts/mixins';

@import '../../../../assets/scss/layout/hero';

.startup-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  height: 100vh;
  align-items: center;
  .startup-service-title {
    padding-left: 16px;
    width: fit-content;
  }
  span {
    cursor: pointer;
  }
  .break-word {
    text-align: center;
  }
  ul {
    margin: 0px !important;
    li {
      padding-top: 8px !important;
      color: var(--font-color) !important;
      font-size: 16px;
      font-family: 'MontFont', sans-serif;
      list-style: outside;
    }
  }

  .title {
    margin-top: 16px;
  }
  .green-blob {
    width: 144px;
    height: 136px;
    margin-top: -16px;
  }

  .startup-container {
    display: grid;
  }
  .startup-intro-image {
    display: grid;
    grid-template-columns: 40px 1fr;
  }
  .startup-intro-text {
    color: var(--font-color);
    font-size: var(--font-size3);
    font-family: 'OpenSansRegular', sans-serif;
    margin: 0px !important;
    padding-top: 32px !important;
  }

  .startup-kit,
  .branding,
  .nwo-hub {
    display: grid;
    grid-template-columns: 5px 1fr;

    span {
      align-self: center;
      font-size: 30px;
      font-family: 'MontFont', sans-serif;
      font-weight: 900;
      font-style: normal;
    }
  }
  .nwo-hub {
    .show-features {
      margin-top: -32px !important;
    }
    span {
      justify-self: end;
    }
  }
  .service-one,
  .service-two,
  .service-three {
    display: grid;
  }
  .service-two {
    justify-content: end;
  }
  .startup-service {
    display: grid;
    grid-gap: 48px;
    img {
      cursor: pointer;
    }
  }
}

@include respond-between(sm, md) {
  .startup-intro {
    grid-template-columns: 1fr !important;
  }
}

@include respond-between(sm, lg) {
  .startup-service {
    grid-template-rows: repeat(3, 140px) !important;
    .startup-kit,
    .branding,
    .nwo-hub {
      height: 80px;
    }
  }
}

@include respond-above(lg) {
  .startup-service {
    grid-template-rows: 160px !important;
    .startup-service-title {
      padding-left: 32px;
    }
    .startup-kit,
    .nwo-hub,
    .branding {
      img {
        width: 205px !important;
        height: 164px !important;
      }
    }
    span {
      font-size: 48px !important;
    }
    li {
      font-size: 24px !important;
    }
  }
}

@include respond-above(sm) {
  .startup-service {
    grid-gap: 0px !important;
    align-items: center;

    img {
      width: 120px !important;
      height: 120px !important;
    }
  }
  .startup-features,
  .nwo-features,
  .branding-features {
    display: none !important;
    width: 100%;
    min-width: 200px;
  }
  .show-features {
    display: grid !important;
    justify-self: start !important;
    margin-top: -32px;
  }
  .startup-kit {
    .show-features {
      margin-top: -20px !important;
    }
  }
}

@include respond-below(sm) {
  .startup-features,
  .nwo-features,
  .branding-features {
    display: none !important;
  }
  .startup-intro {
    grid-template-columns: 1fr !important;
    height: auto !important;
    .title {
      width: 208px !important;
    }
    .green-blob {
      width: 88px !important;
      height: 88px !important;
    }
    .startup-intro-image {
      justify-self: end;
      padding-right: 8px;
    }
    .startup-intro-text {
      justify-self: end;
      text-align: right;
    }
    .startup-service {
      grid-gap: 16px !important;
      .startup-kit span,
      .branding span {
        align-self: start !important;
        margin-top: 16px;
      }
      .nwo-hub {
        grid-template-columns: 5px 100px;
        padding-right: 24px;

        img {
          padding-left: 0px;
        }
        span {
          justify-self: start;
        }
      }
      img {
        width: 45px;
        height: 52px;
      }
      span {
        font-size: 18px !important;
      }
    }
  }
}
