@import '~balloon-css/src/balloon';
@import '../../assets//scss/abstracts/mixins';

.get-quote-section {
  background-color: #f8f8f8;
}
.form-container {
  label {
    display: block;
    padding-left: 0.625em;
  }
  input[type='text'],
  input[type='number'],
  textarea,
  select {
    height: 60px !important;
    outline: none;
    color: var(--font-color);
    border: none;
    font-family: 'OpenSansRegular', sans-serif;
    padding-left: 0.625em;
  }

  textarea {
    height: 100px !important;
  }

  option:not(:first-of-type) {
    padding-bottom: 10px;
    font-size: var(--font-size4);
    font-weight: var(--font-weight400);
    font-family: 'OpenSansRegular', sans-serif;
  }

  input[type='text']:focus,
  input[type='number']:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #42b9f8 !important;
    box-shadow: 0 0 4px #42b9f8 !important;
  }

  .role-option {
    font-size: var(--font-size5);
    font-weight: var(--font-weight400);
    font-family: 'OpenSansRegular', sans-serif;
  }
  .recaptcha-container {
    padding-top: 0.625em;
    border: 0 !important;
  }

  .select-placeholder {
    font-size: var(--font-size5);
    font-weight: var(--font-weight400);
    font-family: 'OpenSansRegular', sans-serif;
  }

  .branding-text-area {
    grid-column: 1/-1;
  }
}

@include respond-below(sm) {
  .form-container {
    h1 {
      font-size: 22px !important;
    }
  }
}
