.get-quote-section {
  background-color: #f8f8f8;
}
.form-container {
  label {
    display: block;
    padding-left: 0.625em;
  }
  input[type='text'],
  input[type='number'],
  select {
    height: 60px;
    margin-right: 10px;
    outline: none;
    color: var(--font-color);
    border: none;
    font-family: 'OpenSansRegular';
    padding-left: 0.625em;
  }

  option:not(:first-of-type) {
    padding-bottom: 10px;
    font-size: var(--font-size4);
    font-weight: var(--font-weight400);
    font-family: 'OpenSansRegular';
  }

  option:not(:first-of-type) {
    padding-bottom: 10px;
    font-size: var(--font-size4);
    font-weight: var(--font-weight400);
    font-family: 'OpenSansRegular';
  }

  input[type='text']:focus,
  input[type='number']:focus,
  select:focus {
    border: 1px solid #42b9f8 !important;
    box-shadow: 0 0 4px #42b9f8 !important;
  }

  .role-option {
    font-size: var(--font-size5);
    font-weight: var(--font-weight400);
    font-family: 'OpenSansRegular';
  }
  .recaptcha-container {
    padding-top: 0.625em;
    border: 0 !important;
  }
  .info-icon {
    position: absolute;
    margin-left: 23%;
    margin-top: 3%;
  }
  .select-placeholder {
    font-size: var(--font-size5);
    font-weight: var(--font-weight400);
    font-family: 'OpenSansRegular';
  }
}
