@import '../../assets/scss/abstracts/mixins';
.startup-page-grid {
  display: grid;
  grid-column: 1/-1;
  padding: 0px 104px;
  grid-row: 2/3;
}

@include respond-between(sm, md) {
  .startup-page-grid {
    padding: 64px 64px 0px 64px;
    .hero-image {
      img {
        width: 100%;
      }
    }
  }
}

@include respond-above(lg) {
  .startup-page-grid {
    max-width: 1900px;
    margin: 0px auto;
    padding: 0px 200px !important;
  }
}

@include respond-below(sm) {
  .startup-page-grid {
    grid-column: 1/-1;
    padding: 0px 8px;

    .hero-image {
      img {
        width: 100%;
      }
    }
    .button-container {
      display: flex;
      justify-content: center;
    }
  }
}
