@import '../../assets/scss/abstracts/mixins';
.startup-page-grid {
  display: grid;
  grid-column: 2/-1;
  padding-right: 24px;
  section {
    padding-top: 72px;
  }
}

.landing-border {
  border-bottom: 1px solid var(--font-color);
  grid-column: 1/-1;
  margin-top: 72px;
}

@include respond-between(sm, md) {
  .hero-image {
    img {
      width: 100%;
    }
  }
}

@include respond-below(sm) {
  .startup-page-grid {
    grid-column: 1/-1;
    padding: 0px 8px;

    .hero-image {
      img {
        width: 100%;
      }
    }
    .button-container {
      display: flex;
      justify-content: center;
    }
  }
}
