@import '../../assets/scss/abstracts/mixins';

.consultation-quote-section {
  display: grid;
  grid-template-columns: 1px 1fr 1fr;
  background-color: #f8f8f8;
  .desktop-hide {
    display: none;
  }
  .confirmation-text {
    p {
      font-family: 'OpenSansRegular', sans-serif !important;
      font-size: 1em !important;
      font-weight: var(--font-weight400) !important;
      font-style: normal !important;
    }
    ul {
      padding: 0px 0px 0px 32px !important;
      list-style-type: square !important;
      li {
        list-style-type: square !important;
        padding: 0px 0px 0px 16px !important;
        color: var(--font-color) !important;
      }
    }
    padding-bottom: 32px;
  }
  .package-container {
    display: grid;

    justify-self: center;
    padding: 64px 32px 32px 32px;
    .package-description-one {
      ul {
        margin: 0px !important;
        padding-left: 24px;
        li {
          padding-top: 8px !important;
          color: var(--font-color) !important;
          font-size: 14px;
          font-family: 'OpenSansRegular', sans-serif !important;
          list-style: outside;
        }
      }
    }
    .btn-basic {
      background-color: #fdcf00;
      justify-self: center;
    }
    .consultation-package-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 32px;
      padding: 0px 0px 24px 0px;
      .package-active {
        background-color: #000000 !important;
        outline: 3px solid #fff;
        outline-offset: -3px;
      }
      .package-checkbox {
        background-color: #fff;
        padding: 0px 12px;
        cursor: pointer;
      }
      .package-row {
        .package-title {
          display: grid;
          grid-template-columns: 1fr 32px;
          background-color: #fdcf00;
          padding: 16px;
          justify-items: center;
          span:nth-child(1) {
            font-family: 'MontFont', sans-serif !important;
          }
        }

        background-color: #fff;
        .package-description-four {
          padding: 0px 16px;
          span {
            display: flex;
            justify-content: center;
          }
        }
        .package-description-one {
          padding-bottom: 16px !important;
        }
        .package-description-one,
        .package-description-two,
        .package-description-three {
          border-bottom: 2px solid #f8f8f8;
          padding: 0px 16px;
          span {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
    .single-package {
      grid-template-columns: auto !important;
    }
  }
}

@include respond-below(sm) {
  .desktop-hide {
    display: block !important;
    padding: 16px 0px 0px 16px;
    button {
      background-color: #fdcf00;
    }
  }
  .package-container {
    padding: 0px 8px 64px 8px !important;
    grid-row: 1/-1;
    .mobile-hide {
      display: none;
    }

    h4 {
      display: none;
    }
    .consultation-package-grid {
      grid-template-columns: 1fr !important;
    }
    .btn-basic {
      justify-self: center;
    }
  }
}

@include respond-between(sm, md) {
  .package-container {
    padding: 64px 8px 32px 8px !important;
  }
}

@include respond-between(md, lg) {
  .package-container {
    padding: 64px 104px 32px 8px !important;
  }
}
@include respond-above(lg) {
  .package-container {
    padding: 64px 200px 32px 8px !important;
  }
}
