@import '../../assets/scss/abstracts/mixins';

.enterprise-quote-section {
  display: grid;
  grid-template-columns: 1px 1fr 1fr;
  background-color: #f8f8f8;
  .consultation-text,
  .confirmation-text {
    p {
      font-family: 'OpenSansRegular', sans-serif !important;
      font-size: 1em !important;
      font-weight: var(--font-weight400) !important;
      font-style: normal !important;
    }
    ul {
      padding: 0px 0px 0px 32px !important;
      list-style-type: square !important;
      li {
        list-style-type: square !important;
        padding: 0px 0px 0px 16px !important;
        color: var(--font-color) !important;
      }
    }
    padding-bottom: 32px;
  }
  .button-container {
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 0px 32px;
    .btn-branding {
      background-color: #c6c6c6;
      min-height: 3.75rem !important;
      height: auto !important;
    }
    .enterprise-package {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 32px;
      padding: 0px 0px 24px 0px;
      span {
        padding: 12px;
        width: fit-content;
        border-radius: 8px;
        border: 1px solid var(--font-color);
        cursor: pointer;
        min-width: 96px;
        text-align: center;
      }
      .service-active {
        border: 2px solid var(--font-color);
      }
      .service-inactive {
        border: 1px solid var(--font-color);
      }
    }
    .additional-services {
      h4 {
        text-decoration: underline;
      }
    }
  }
}

@include respond-between(sm, md) {
  .enterprise-package {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
