@import '../../assets/scss/styles.scss';
.footer-section {
  span {
    font-family: var(--font-family);
    font-size: var(--font-medium);
    font-weight: 600;
    color: var(--font-color);
  }
  @include respond-above(sm) {
    div span {
      padding: 0px 5px;
      display: inline-block;
    }
  }

  @include respond-below(sm) {
    .contactus-container {
      align-self: center;
      span {
        display: inline-block;
      }
    }
    .footer-content {
      align-self: center;
    }
  }

  img {
    width: 27px;
    height: 22px;
  }

  .footer-social-wrapper {
    margin-left: 25px;
    .social-links {
      li img {
        width: 25px;
        height: 25px;
      }
      .facebook {
        img {
          width: 15px;
          height: 25px;
        }
      }
      .linkedin {
        margin-left: 10px;
      }
    }
    p {
      font-family: var(--font-family);
      font-size: var(--font-medium);
      font-weight: var(--font-weight400);
    }
  }
}
