@import '../../assets/scss/styles.scss';
.footer-section {
  span {
    font-family: var(--font-family);
    font-size: var(--font-medium);
    font-weight: var(--font-weight600);
    color: var(--font-color);
  }
  @include respond-above(sm) {
    div span {
      padding: 0px 5px;
      display: inline-block;
    }
    .footer-content {
      align-self: center;
      .contactus-container {
        padding-top: 1.25em;
      }
    }
  }

  @include respond-below(sm) {
    .contactus-container {
      span {
        display: inline-block;
      }
    }
    .footer-content {
      align-self: center;
      span:first-child {
        display: block;
        padding-top: 5px;
      }
    }
  }

  .footer-social-wrapper {
    margin-left: 15px;
    .social-links {
      .linkedin {
        margin-left: 10px;
      }
      li {
        justify-self: end;
      }
    }
    p {
      font-family: 'OpenSansRegular';
      font-size: var(--font-size4);
      font-weight: var(--font-weight400);
      text-align: right;
    }
  }

  .contactus-title {
    font-size: var(--font-size3);
    font-weight: var(--font-family900);
    font-family: 'MontFont';
  }

  .contactus-container span {
    font-weight: var(--font-family600);
    font-size: var(--font-size4);
    font-family: 'OpenSansRegular';
  }
}
