@import '../../../../assets/scss/layout/hero';

.bullet-icon {
  background-color: #42b9f8 !important;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: 10px;
}
