@import '../../assets/scss/abstracts/mixins';

.reconnect-quote-section {
  display: grid;
  grid-template-columns: 1px 1fr 1fr;
  background-color: #f8f8f8;
  .red-bg {
    background-color: #ff7d7d !important;
  }
  .green-bg {
    background-color: #49e59a !important;
  }
  .white-bg {
    background-color: #ffffff !important;
  }
  .radio-section {
    grid-column: 1/-1 !important;
    font-size: var(--font-size5) !important;
    font-weight: var(--font-weight400) !important;
    font-family: 'OpenSansRegular', sans-serif !important;
    color: #2c3e50 !important;
    padding: 48px 0px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    .radio-options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 16px;
      padding-top: 8px;
      span {
        height: 50px;
        text-align: center;
        background-color: #fff;
        font-weight: var(--font-weight400) !important;
        font-family: 'OpenSansRegular', sans-serif !important;
        color: #2c3e50;
        padding-top: 15px;
        cursor: pointer;
      }
    }
  }
  .keyword-container {
    margin: 0px 16px 0px 35px;
  }

  .button-container {
    display: grid;
    align-self: center;
    justify-content: center;
    padding: 32px 32px;
    .btn-basic {
      background-color: #fdcf00;
    }
  }

  .rating-container {
    padding-top: 16px;
  }
}

@include respond-below(sm) {
  .keyword-container {
    display: grid;
    padding: 0px 8px;
    margin: 40px 0px 0px 0px !important;
    .button-container {
      display: none !important;
      margin-top: 32px !important;
      .btn-basic {
        justify-self: center;
      }
    }
  }
}

@include respond-above(lg) {
  .keyword-container {
    margin-right: 15% !important;
  }
}
