@import '../../../../assets/scss/abstracts/mixins';

.site-security-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  height: 100vh;
  .hero-image img {
    max-width: 500px !important;
  }
  .hero-mobile-image {
    display: none;
  }
  .btn-data-security {
    margin-top: 64px;
  }

  .hero-content {
    .hero-title {
      h3 {
        margin: 0px !important;
        a {
          text-decoration: none;
          color: var(--font-color);
        }
      }
    }
  }
  .hero-description {
    margin-top: 48px;
    a {
      text-decoration: none;
      color: var(--font-color);
    }
  }
  .hero-image {
    justify-self: start;
  }
}

@include respond-between(sm, md) {
  .site-security-intro {
    height: auto;
  }
}

@include respond-below(sm) {
  .site-security-intro {
    height: auto;
    .hero-content {
      display: grid;
    }
    .hero-image {
      display: none !important;
    }
    .hero-mobile-image {
      display: grid;
      justify-self: center;
      padding-top: 40px;
      img {
        max-width: 296px;
      }
    }
  }
}
