@import '../abstracts/mixins';

@include respond-above(sm) {
  #root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px auto auto auto auto;
  }

  .hero-section {
    grid-column: 1/4;
    grid-row: 2/3;
    align-items: center;
    display: grid;
    padding: 50px 104px;
    grid-template-columns: 1fr 1fr;
    img {
      max-width: 500px;
      max-height: 400px;
    }
  }

  .get-quote-section,
  .consultation-quote-section,
  .wd-quote-section,
  .signup-form-section,
  .profile-form-section,
  .contactus-form-section,
  .reconnect-quote-section,
  .config-form-section,
  .contributor-section,
  .enterprise-quote-section {
    //  border-bottom: 1px solid var(--font-color);
    grid-column: 1/4;
    grid-row: 3/4;
    padding-bottom: 90px;
    display: grid;
    grid-template-columns: 1px 1fr 1fr;

    .bg-image img {
      width: 10vw;
    }

    ul {
      padding: 0;
    }

    .personal-information {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .company-information {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .form-group {
      display: grid;
      grid-template-columns: 1fr;
      padding-top: 1.25em;
    }
  }

  .footer-section {
    padding-top: 0.3em;
    grid-column: 1/4;
    display: grid;
    grid-row: auto;
    .footer-social-wrapper {
      justify-self: end;
      padding-right: 20%;
      .social-links {
        p {
          text-align: right;
        }
      }
    }
  }

  .logo {
    padding: 20px;
    .dei-logo {
      width: 75px;
    }
  }

  textarea {
    padding: 16px;
  }
  input[type='text'],
  input[type='number'],
  input[type='password'],
  select {
    margin-right: 10px;
  }

  .info-icon {
    position: absolute !important;
    margin-left: 23%;
    margin-top: 3%;
  }

  .MuiOutlinedInput-root {
    margin-right: 8px !important;
  }

  // Drop down menu style
  .profile-icon {
    .MuiMenu-paper {
      right: 24px !important;
      left: 90% !important;
      top: 56px !important;
    }
  }

  #combo-box-demo {
    li {
      display: none !important;
    }
  }
  .MuiInputBase-root {
    background-color: #fff;
    height: 60px !important;
    box-sizing: content-box;
    color: var(--font-color) !important;
    .MuiInputLabel-shrink {
      display: none !important;
    }
    input[type='text'],
    input[type='password'] {
      height: 20px !important;
      color: var(--font-color) !important;
      border: none;
      font-family: 'OpenSansRegular', sans-serif !important;
      font-size: 12px;
      padding: 0px !important;
      font-weight: var(--font-weight400);
    }

    input::placeholder {
      color: var(--font-color) !important;
      font-size: 12px;

      font-family: 'OpenSansRegular', sans-serif;
    }

    input[type='text']:focus,
    input[type='password'] {
      border: none !important;
      box-shadow: none !important;
    }

    li {
      display: none !important;
    }
    fieldset {
      display: none !important;
    }
  }
}

@include respond-between(sm, md) {
  .hero-section {
    padding: 24px 64px !important;
  }
}

@include respond-above(lg) {
  .hero-section {
    padding: 50px 200px !important;
  }
}

@include respond-below(sm) {
  #root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100vw;
  }

  // Drop down menu style
  .profile-icon {
    .MuiMenu-paper {
      right: 8px !important;
      left: 70% !important;
      top: 56px !important;
    }
  }

  .MuiToolbar-gutters {
    padding-right: 0px !important;
  }

  .sticky-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 5/6;
    background-color: #f8f8f8;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 92px;
    h4 {
      align-self: center;
      text-align: left;
      font-size: var(--font-size1);
      font-weight: var(--font-weight700);
      padding-left: 8px !important;
    }
    div {
      align-self: center;
      justify-self: end;
      padding-right: 0.938em;
    }
    .price {
      font-family: 'MontFont', sans-serif;
      font-weight: var(--font-weight900);
      font-size: 2.5em !important;
    }
  }

  .logo {
    padding: 20px 0px 10px 15px;
    .dei-logo {
      width: 60px;
    }
  }
  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row: 2/3;
    img {
      max-width: 296px;
    }
    padding: 10px;
  }

  .get-quote-section,
  .consultation-quote-section,
  .wd-quote-section,
  .signup-form-section,
  .profile-form-section,
  .contactus-form-section,
  .reconnect-quote-section,
  .contributor-section,
  .config-form-section,
  .enterprise-quote-section {
    border-bottom: 1px solid var(--font-color);
    padding-bottom: 90px;
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-row: 3/4;

    .bg-image img {
      display: none;
    }
    .personal-information,
    .company-information {
      display: grid;
      grid-template-columns: 1fr !important;
    }

    .text-area-container {
      grid-column: 1/-1;
    }

    .form-container {
      padding: 0px 8px 0px 0px !important;
      h1,
      h4 {
        padding-left: 10px !important;
      }
    }

    .form-group {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1.25em 0.25em 0 0.625em;
    }

    input[type='text'],
    input[type='number'],
    input[type='password'],
    select {
      height: 60px;
    }
  }

  .enterprise-package {
    grid-template-columns: repeat(2, 1fr) !important;
    span {
      justify-self: center !important;
    }
  }

  .footer-section {
    padding-top: 0.3em;
    display: grid;
    grid-row: auto;
  }

  .recaptcha-container {
    justify-self: center;
  }

  .error-messages ul {
    padding: 0 !important;
  }

  .info-icon {
    position: absolute !important;
    margin-left: 28%;
  }

  .MuiOutlinedInput-root {
    margin-right: 0px !important;
  }
}
.MuiPaper-elevation8 {
  .MuiListItem-root {
    font-family: 'OpenSansRegular', sans-serif !important;
    font-size: 16px !important;
    color: var(--font-color);
  }
}
.nav-container {
  border-bottom: 1px solid var(--font-color);
  grid-column: 1/4;
}

.social-links {
  display: grid;
  grid-template-columns: 30px 30px;
  grid-column-gap: 14px;
  justify-content: end;
}

@include respond-between(sm, md) {
  .personal-information,
  .company-information {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .text-area-container {
    grid-column: 1/-1;
  }
  .form-container .info-icon {
    margin-left: 45% !important;
    margin-top: 5% !important;
  }
}
