@import '../styles.scss';
.hero-section,
.branding-intro,
.data-security-intro,
.consultation-intro,
.wd-intro,
.seo-intro,
.auditing-intro,
.site-security-intro,
.startup-intro {
  .hero-subtitle-container {
    flex-wrap: wrap;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
  }
  @include respond-below(sm) {
    .hero-title {
      p:first-of-type {
        padding-top: 0.25em;
      }
      h1 {
        font-size: 50px !important;
      }
      .hero-subtitle-container {
        h3 {
          font-size: var(--font-size4) !important;
        }
      }
    }
    .button-container button {
      font-size: 18px !important;
      font-family: 'OpenSansRegular', sans-serif !important;
      font-weight: 700 !important;
      font-style: normal !important;
    }
  }

  @include respond-above(sm) {
    .hero-title p:first-of-type {
      padding-top: 1.25em;
      font-family: 'MontFont', sans-serif;
    }
  }

  .hero-title {
    p:last-of-type {
      padding-top: 1.56em;
      font-size: 1.25em;
      font-weight: var(--font-weight700);
      font-style: normal;
    }
    h1 {
      font-size: 60px;
      font-style: normal;
      font-weight: var(--font-weight900);
      letter-spacing: -0.07em;
      text-align: left;
      font-family: 'MontFont', sans-serif;
      margin: 25px 0px;
    }

    h3 {
      font-size: 1.25em;
    }
  }

  .blue-circle {
    border-radius: 50%;
    background-color: #42b9f8;
    display: inline-block;
    height: 1.25em;
    width: 1.25em;
  }

  p {
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 1em;
    font-weight: var(--font-weight400);
    font-style: normal;
  }

  .hero-description {
    .hero-description-two {
      padding-top: 25px;
    }
  }

  .hero-subtitle-container {
    display: flex;
    h3 {
      padding-left: 0.625em;
    }
    img {
      padding-top: 0.625em;
    }
  }

  .hero-image {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
