@import '../../../assets/scss/abstracts/mixins';
@import '../../../assets/scss/base/base';

.cart-container {
  display: grid;
  grid-template-columns: 60% 40%;
  height: fit-content;
  .cart-items {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    .cart-header {
      font-size: 16px;
      font-family: 'OpenSansRegular', sans-serif !important;
      font-weight: 600;
    }
    .cart-item,
    .yearly-price {
      font-size: 16px;
      font-family: 'OpenSansRegular', sans-serif !important;
      font-weight: 400;
    }
  }

  .cart-title {
    width: 100%;
  }

  .cart-header,
  .cart-item {
    display: grid;
    grid-template-columns: 50% 25% 10% 10%;
    padding: 16px 0px;
    align-items: center;
  }
  .cart-item {
    background: #e5e5e5;
    margin-bottom: 16px;
    .item-name {
      padding-left: 8px;
      .yearly-price {
        padding-top: 8px;
      }
    }
    .item-action {
      justify-self: end;
    }
  }

  .cart-summary {
    padding-left: 8%;
    .cart-summary-item,
    .cart-summary-header {
      div:nth-child(2) {
        justify-self: end;
      }
      display: grid;
      grid-template-columns: 70% 30%;
      font-size: 16px;
      font-family: 'OpenSansRegular', sans-serif !important;
      padding: 16px 16px;
    }
    .cart-summary-item {
      font-weight: 400;
      background: #e5e5e5;

      .cart-total {
        font-weight: 700;
      }
    }
    .cart-summary-header {
      font-weight: 600;
    }
  }
  .sign-in-section {
    display: grid;
    grid-template-rows: 120px 120px 20px;
    padding-left: 8%;
    p {
      justify-self: center;
      align-self: end;
      font-size: 16px;
      font-family: 'OpenSansRegular', sans-serif !important;
    }
    button {
      justify-self: center;
    }
    .create-account {
      align-self: st;
    }
  }
  .product-price,
  .product-quantity,
  .yearly-price span {
    font-family: 'OpenSansRegular', sans-serif !important;
  }
  .paypal-button {
    padding-top: 16px;
  }
}

.cart-empty-container {
  display: grid;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #f8f8f8;
  p {
    font-family: 'OpenSansRegular', sans-serif !important;
    justify-self: center;
  }
}

@include respond-below(sm) {
  .cart-container {
    grid-template-columns: 1fr !important;
    .cart-title {
      justify-self: center;
    }
    .cart-summary,
    .sign-in-section {
      margin: 0px 8px;
      padding-left: 0px;
    }
    .cart-items {
      grid-template-rows: auto;
      height: auto;
      .cart-item {
        justify-items: center;
        margin: 0px 8px 16px 8px;
      }
      .cart-header {
        padding-left: 16px;
      }
      .item-action {
        justify-self: end;
        padding-right: 8px;
      }
    }
  }
}

@include respond-between(sm, md) {
  .cart-container {
    grid-template-columns: 1fr;
    .cart-summary,
    .sign-in-section {
      padding-left: 0px;
    }
  }
}
