@import '../../../../assets/scss/layout/hero';

.hero-section {
  .hero-title {
    .consultation-text {
      p {
        font-family: 'OpenSansRegular', sans-serif !important;
        font-size: 1em !important;
        font-weight: var(--font-weight400) !important;
        font-style: normal !important;
      }
      ul {
        padding: 0px 0px 0px 32px !important;
        list-style-type: square !important;
        li {
          list-style-type: square !important;
          padding: 0px 0px 0px 16px !important;
          color: var(--font-color) !important;
        }
      }
      padding-bottom: 32px;
    }
  }
  .startup-central-features {
    ul {
      margin: 0px !important;
      li {
        padding-top: 8px !important;
        color: var(--font-color) !important;
        font-size: 16px;
        font-family: 'MontFont', sans-serif;
        list-style: outside;
      }
    }
  }
  .develop-feature {
    padding-bottom: 8px !important;
  }
  .hero-image {
    display: grid;
    grid-template-columns: 5px 1fr;
    justify-self: start;
    img {
      max-height: 450px;
    }
    .startup-central-features {
      padding: 48px;
      p {
        font-family: 'MontFont', sans-serif;
        font-style: normal;
        font-weight: var(--font-weight900);
        letter-spacing: -0.07em;
        font-size: 24px;
      }
      ul li {
        font-family: 'OpenSansRegular', sans-serif;
        font-size: 1em;
        font-weight: var(--font-weight400);
        font-style: normal;
      }
      span {
        font-family: 'OpenSansRegular', sans-serif;
        font-size: 12px;
        padding-top: 24px;
        display: inline-block;
      }
    }
  }
  .hero-subtitle-container {
    h3 {
      padding-right: var(--font-size7);
    }
  }
  .hero-mobile-image {
    display: none !important;
  }

  .packages {
    display: grid;
    grid-template-columns: 24px 1fr;
    img {
      align-self: center;
      margin-top: 8px;
    }
    h3 {
      padding-left: 16px;
    }
  }

  .hero-title {
    p {
      font-family: 'OpenSansRegular', sans-serif !important;
      font-size: 1em;
      font-weight: var(--font-weight400);
      font-style: normal;
    }
  }
}

@include respond-below(sm) {
  .hero-content {
    display: grid;
    .hero-mobile-image {
      display: block !important;
      justify-self: center;
      padding-top: 40px;
    }
  }
  .hero-image {
    display: none !important;
  }
  .button-container {
    padding: 8px !important;
  }
}

@include respond-between(sm, md) {
  .startup-kit {
    grid-template-columns: 12px 1fr !important;
    align-self: center;
  }
}
