@import '../../../assets/scss/styles.scss';

.footer-section {
  border-top: 1px solid var(--font-color);
  background-color: #f2f2f2;
  display: grid;
  padding: 0 8%;
  .footer-row-one {
    display: grid;
    .footer-links {
      padding: 0px;
      li {
        display: inline-block;
        padding: 0 1.3rem 0 1rem;
        border-right: gray solid 0.2rem;
        a {
          text-decoration: none;
          color: var(--font-color);
          font-family: 'OpenSansRegular', sans-serif;
          font-size: var(--font-size1);
          text-transform: uppercase;
        }
      }
      li:last-child {
        border-right: 0px !important;
      }
    }
  }
  .footer-row-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
    align-self: center;
    .footer-social-link {
      span {
        padding-right: 16px;
      }
    }
    .donate-link {
      justify-self: end;
    }
  }
}

@include respond-below(sm) {
  .footer-section {
    padding: 0px !important;
    .footer-social-link {
      align-self: center;
    }
    .footer-row-one {
      grid-template-columns: 1fr;
      .footer-links {
        padding: 0px !important;
      }
      .donate-link {
        justify-self: center;
      }
    }
  }
}
