@import '../../../../assets/scss/styles.scss';
@import '../../../../assets/scss/layout/hero';

.auditing-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  margin-top: 96px;
  height: 100vh;
  max-width: 1400px;
  width: 100%;
  margin: 0px auto;
  align-items: center;
  padding: 64px 0;
  .hero-mobile-image {
    display: none;
  }
  .hero-subtitle-container {
    padding-bottom: 8px;
    h3 {
      padding-right: 8px;
    }
  }
  .hero-content {
    .hero-title {
      h3 {
        margin: 0px !important;
      }
    }
  }
  .hero-description {
    margin-top: 48px;
    span {
      font-size: 12px !important;
      font-family: 'OpenSansRegular', sans-serif !important;
    }
  }
  .hero-image {
    justify-self: end;
    img {
      max-height: 450px;
    }
  }

  .btn-branding {
    margin-top: 64px;
    background-color: #49e69a;
    a {
      text-decoration: none;
      color: #2c3e50;
    }
  }
}

@include respond-between(sm, md) {
  .auditing-intro {
    height: auto;
  }
}

@include respond-below(sm) {
  .auditing-intro {
    height: auto;
    margin-top: auto !important;
    grid-gap: 0px !important;
    grid-template-columns: auto !important;
    .hero-content {
      display: grid;
    }
    .hero-image {
      display: none !important;
    }
    .hero-mobile-image {
      display: block;
      justify-self: center;
      padding-top: 40px;
      padding-bottom: 16px;
      img {
        max-width: 296px;
      }
    }
  }
}
@include respond-between(sm, md) {
  .hero-image {
    justify-self: auto !important;
  }
}
