@import '../../assets/scss/abstracts/mixins';
.smb-page-grid {
  display: grid;
  grid-column: 2/-1;
  padding-right: 24px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  section {
    padding-top: 72px;
  }
}

.landing-border {
  border-bottom: 1px solid var(--font-color);
  grid-column: 1/-1;
  margin-top: 72px;
}

@include respond-between(sm, md) {
  .hero-image {
    img {
      width: 100%;
    }
  }
}

@include respond-below(sm) {
  .smb-page-grid {
    grid-column: 1/-1;
    padding: 0px 8px;
    section {
      padding-top: 0px;
    }
    .smb-intro {
      padding-top: 32px;
    }
    .data-security-intro,
    .landing-intro,
    .branding-intro {
      grid-template-columns: 1fr;
    }
    .hero-image {
      img {
        width: 100%;
      }
    }
    .button-container {
      display: flex;
      justify-content: center;
    }
  }
}
